body{background-color: green;}

#auto{color: white;
text-align: center


}
p{


}

img{
    float: left; width: 100px;height: 100px;

}
table{

    float: none;
    clear: both;
}
table,td{
    border: 1px black solid;
    border-collapse: collapse;
background-color: white;
}
#elsö{
    background-image: url(smiley.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
ul{list-style-image: url(smiley2.png);
    list-style-position: inside;

}
ol{
    list-style-type: none;
}
div{
    border: grey 1px solid;
    margin: 0px 50px 0px 50px;
    margin: 0px 50px;
    margin-left: 50px ;
    margin-right: 50px;
    background-color: white;
    padding: 30px 30px;
}
div h1::first-letter{
     font-variant: small-caps;
        font-size: large;
}
div > p{  
    text-align: justify;
    text-indent: 50px;

}
a{
    text-decoration: none;
}
h2{
    text-decoration: underline;
}
p{
    font-weight: bold;
}
h4{
    font-style: italic;
}

#paris{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#kep{

    
}